<ion-content>
  <div class="tutorial-container">
    <div class="tutorial-step">
      <p>Tab de tareas</p>
      <img src="assets\icon\imagen1tutorialTarea.png" alt="Task Tab Tutorial">
    </div>
    <div class="tutorial-step">
      <img src="assets\icon\imagen2tutorialtarea.png" alt="Task Tab Tutorial">
     
    </div>
    <div class="tutorial-step">
      <p>Tab de Notas</p>
      <img src="assets\icon\imagen1tutorialnotas.png" alt="Profile Tab Tutorial">
      
    </div>
    <div class="tutorial-step">
      <p>Tab de perfil de usuario</p>
      <img src="assets\icon\imagen2tutorialperfil.png" alt="Profile Tab Tutorial">
      
    </div>
    <div class="tutorial-step">
      <h2>Bienvenido a TaskCentral!</h2>
      <ion-button expand="full" (click)="finishTutorial()">Empezar a usar app</ion-button>
    </div>
  </div>
</ion-content>
