rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    // Your existing rules for tasks and notes
    match /users/{userId}/tasks/{taskId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/notes/{noteId} {
      allow read, write: if isOwner(userId);
    }
  }
}

