<app-header color="light" [centerTitle]=true [isModal]=true [title]="newNote ? 'Nota' : 'Nueva Nota'"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>
            <ion-input [(ngModel)]="newNote.title" placeholder="Título"></ion-input>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label>
            <ion-textarea [(ngModel)]="newNote.content" placeholder="Contenido"></ion-textarea>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer style="position: fixed; bottom: 0; width: 100%;">
    <div class="ion-text-center">
      <ion-button  class="ion-margin" mode="ios"  (click)="saveNote()" shape="round">
        {{ newNote ? 'Guardar Nota' : 'Crear Nota'}}
      </ion-button>
    </div>
  </ion-footer>
</ion-content>